abb/pruebas
heap/pruebas
heap/heap_modif
tp2/src/doctores.csv
tp2/src/pacientes.csv
tp3/grafos
tp3/src/grafo/__pycache__
tp3/src/__pycache__
tp3/lib/__pycache__
tp3/src/mod/__pycache__
tp3/src/tests
tp3/src/lib/__pycache__
tp3/src/lib/pila/__pycache__
tp3/src/lib/cola/__pycache__
tp3/src/lib/grafo/__pycache__
.gitignore
